<div class="cart-box">
  <div class="cart-window">
    <div class="cart-items-wrap">
      <div class="cart-item grid grid--cols-2">
        <img
          class="cart-item-img"
          src="images/airpodmax-large-blue.jpg"
          alt=""
        />
        <div class="item-content">
          <h3 class="item-name">airpods max</h3>
          <button class="remove-btn">x</button>
          <div class="amount-input">
            <button class="btn-wrap color-one">-</button>
            <span class="amount-number">1</span>
            <button class="btn-wrap color-two">+</button>
          </div>
          <p class="item-price">100$</p>
        </div>
      </div>
    </div>
    <div class="total-wrap">
      <p class="total-text">Total</p>
      <p class="total-text">$100</p>
    </div>
    <button class="btn btn--primary">Checkout</button>
  </div>
</div>
