<section class="block">
  <div class="container">
    <h3 class="discount__heading">Get Up to 70% Off</h3>
    <div class="discount--area grid grid--cols-4">
      <div class="discount--card">
        <header>
          <div class="discount__content">
            <h3 class="discount__title">Save</h3>
            <div class="discount__price">
              <span class="dollar--sign">$</span>100
            </div>
            <span class="discount__discription"
              >Explore Our Furniture & Home Furnishing Range</span
            >
          </div>
          <div class="discount__body">
            <img class="discount__img" src="images/furniture.png" alt="" />
          </div>
        </header>
      </div>
      <div class="discount--card">
        <header>
          <div class="discount__content">
            <h3 class="discount__title">Save</h3>
            <div class="discount__price red-rose">
              <span class="dollar--sign">$</span>29
            </div>
            <span class="discount__discription"
              >Explore Our Furniture & Home Furnishing Range</span
            >
          </div>
          <div class="discount__body">
            <img class="discount__img" src="images/furniture.png" alt="" />
          </div>
        </header>
      </div>
      <div class="discount--card">
        <header>
          <div class="discount__content">
            <h3 class="discount__title">Save</h3>
            <div class="discount__price color-two">
              <span class="dollar--sign">$</span>69
            </div>
            <span class="discount__discription"
              >Explore Our Furniture & Home Furnishing Range</span
            >
          </div>
          <div class="discount__body">
            <img class="discount__img" src="images/furniture.png" alt="" />
          </div>
        </header>
      </div>
      <div class="discount--card">
        <header>
          <div class="discount__content">
            <h3 class="discount__title">Save</h3>
            <div class="discount__price main-color">
              <span class="dollar--sign">$</span>56
            </div>
            <span class="discount__discription"
              >Explore Our Furniture & Home Furnishing Range</span
            >
          </div>
          <div class="discount__body">
            <img class="discount__img" src="images/furniture.png" alt="" />
          </div>
        </header>
      </div>
    </div>
  </div>
</section>
