<footer class="footer block">
    <div class="container grid footer__sections">
      <section class="collapsible collapsible--expanded footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Categories</h2>
          <img src="images/expand.svg" class="icon icon--white collapsible__chevron">
          </img>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li class="footer-list__item"><a href="">Headphones</a></li>
            <li class="footer-list__item"><a href="">Mouses</a></li>
            <li class="footer-list__item"><a href="">Keyboards</a></li>
            <li class="footer-list__item"><a href="">Accessories</a></li>
            <li class="footer-list__item"><a href="">Laptops</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section ">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">About Us</h2>
          <img src="images/expand.svg" class="icon icon--white collapsible__chevron">
          </img>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li class="footer-list__item"><a href="">About Shopcart</a></li>
            <li class="footer-list__item"><a href="">Careers</a></li>
            <li class="footer-list__item"><a href="">Ideas & Guides</a></li>
            <li class="footer-list__item"><a href="">News & Blog</a></li>
            <li class="footer-list__item"><a href="">Shopcart Brands
            </a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Services</h2>
          <img src="images/expand.svg" class="icon icon--white collapsible__chevron">
          </img>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li class="footer-list__item"><a href="">Gift Card</a></li>
            <li class="footer-list__item"><a href="">Mobile App</a></li>
            <li class="footer-list__item"><a href="">Shipping & Delivery</a></li>
            <li class="footer-list__item"><a href="">Order Pickup</a></li>
            <li class="footer-list__item"><a href="">Account Signup</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Help</h2>
          <img src="images/expand.svg" class="icon icon--white collapsible__chevron">
          </img>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li class="footer-list__item"><a href="">Shopcart Help</a></li>
            <li class="footer-list__item"><a href="">Returns</a></li>
            <li class="footer-list__item"><a href="">Track Orders</a></li>
            <li class="footer-list__item"><a href="">Contact Us</a></li>
            <li class="footer-list__item"><a href="">Feedback</a></li>
          </ul>
        </div>
      </section>
      <section class="footer__brand">
        <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e86ab4c21faa7bc0bd90dd_Logo.svg" alt="">
        <p class="footer__copyright">Copyright 2023 MOJO</p>
      </section>
    </div>
</footer>