<section class="block">
    <div class="container">
      <header>
        <h3 class="section--title">Todays Best Deals For You!</h3>
      </header>
      <div class="products--taps">
          <div class="products--taps--menu">
            <ul class="list">
              <li class="tap--list__item"><button class="btn btn--outline tap active">Headphones</button></li>
              <li class="tap--list__item"><button class="btn btn--outline tap">Keyboards</button></li>
              <li class="tap--list__item"><button class="btn btn--outline tap">Mouses</button></li>
              <li class="tap--list__item"><button class="btn btn--outline tap">Laptops</button></li>
              <li class="tap--list__item"><button class="btn btn--outline tap">Phones</button></li>
              <li class="tap--list__item"><button class="btn btn--outline tap">Accessories</button></li>
            </ul>
          </div>
      </div>
      <div class="content--container">
        <div class="tap__content grid ">
            <div class="product">
              <div class="card">
                <header >
                  <div class="product__favorite">
                    <img
                      src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9df775b939f51a0b22f6d_Icon.svg"
                      alt=""
                    />
                  </div>
                  <img
                    class="product--img"
                    src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e68b497e229146b818_leptop%20sleeve-min.png"
                    alt=""
                  />
                  <div class="card__body">
                    <span class="product__price">$59</span>
                    <h3 class="prodcut__name">Laptop sleeve MacBook</h3>
                    <span class="product__description"
                      >Organic Cotton, fairtrade certified</span
                    >
                    <button class="btn btn--outline">Add to Cart</button>
                  </div>
                </header>
              </div>
            </div>
            <div class="product">
              <div class="card">
                <header >
                  <div class="product__favorite">
                    <img
                      src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9df775b939f51a0b22f6d_Icon.svg"
                      alt=""
                    />
                  </div>
                  <img
                    class="product--img"
                    src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e68b497e229146b818_leptop%20sleeve-min.png"
                    alt=""
                  />
                  <div class="card__body">
                    <span class="product__price">$59</span>
                    <h3 class="prodcut__name">Laptop sleeve MacBook</h3>
                    <span class="product__description"
                      >Organic Cotton, fairtrade certified</span
                    >
                    <button class="btn btn--outline">Add to Cart</button>
                  </div>
                </header>
              </div>
            </div>
        
            <div class="product">
              <div class="card">
                <header >
                  <div class="product__favorite">
                    <img
                      src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9df775b939f51a0b22f6d_Icon.svg"
                      alt=""
                    />
                  </div>
                  <img
                    class="product--img"
                    src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e68b497e229146b818_leptop%20sleeve-min.png"
                    alt=""
                  />
                  <div class="card__body">
                    <span class="product__price">$59</span>
                    <h3 class="prodcut__name">Laptop sleeve MacBook</h3>
                    <span class="product__description"
                      >Organic Cotton, fairtrade certified</span
                    >
                    <button class="btn btn--outline">Add to Cart</button>
                  </div>
                </header>
              </div>
            </div>
        
            <div class="product">
              <div class="card">
                <header >
                  <div class="product__favorite">
                    <img
                      src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9df775b939f51a0b22f6d_Icon.svg"
                      alt=""
                    />
                  </div>
                  <img
                    class="product--img"
                    src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e68b497e229146b818_leptop%20sleeve-min.png"
                    alt=""
                  />
                  <div class="card__body">
                    <span class="product__price">$59</span>
                    <h3 class="prodcut__name">Laptop sleeve MacBook</h3>
                    <span class="product__description"
                      >Organic Cotton, fairtrade certified</span
                    >
                    <button class="btn btn--outline">Add to Cart</button>
                  </div>
                </header>
              </div>
            </div>
            <div class="product">
              <div class="card">
                <header >
                  <div class="product__favorite">
                    <img
                      src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9df775b939f51a0b22f6d_Icon.svg"
                      alt=""
                    />
                  </div>
                  <img
                    class="product--img"
                    src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e68b497e229146b818_leptop%20sleeve-min.png"
                    alt=""
                  />
                  <div class="card__body">
                    <span class="product__price">$59</span>
                    <h3 class="prodcut__name">Laptop sleeve MacBook</h3>
                    <span class="product__description"
                      >Organic Cotton, fairtrade certified</span
                    >
                    <button class="btn btn--outline">Add to Cart</button>
                  </div>
                </header>
              </div>
            </div>
            <div class="product">
              <div class="card">
                <header >
                  <div class="product__favorite">
                    <img
                      src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9df775b939f51a0b22f6d_Icon.svg"
                      alt=""
                    />
                  </div>
                  <img
                    class="product--img"
                    src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e68b497e229146b818_leptop%20sleeve-min.png"
                    alt=""
                  />
                  <div class="card__body">
                    <span class="product__price">$59</span>
                    <h3 class="prodcut__name">Laptop sleeve MacBook</h3>
                    <span class="product__description"
                      >Organic Cotton, fairtrade certified</span
                    >
                    <button class="btn btn--outline">Add to Cart</button>
                  </div>
                </header>
              </div>
            </div>
        
            <div class="product">
              <div class="card">
                <header >
                  <div class="product__favorite">
                    <img
                      src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9df775b939f51a0b22f6d_Icon.svg"
                      alt=""
                    />
                  </div>
                  <img
                    class="product--img"
                    src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e68b497e229146b818_leptop%20sleeve-min.png"
                    alt=""
                  />
                  <div class="card__body">
                    <span class="product__price">$59</span>
                    <h3 class="prodcut__name">Laptop sleeve MacBook</h3>
                    <span class="product__description"
                      >Organic Cotton, fairtrade certified</span
                    >
                    <button class="btn btn--outline">Add to Cart</button>
                  </div>
                </header>
              </div>
            </div>
        
            <div class="product">
              <div class="card">
                <header >
                  <div class="product__favorite">
                    <img
                      src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9df775b939f51a0b22f6d_Icon.svg"
                      alt=""
                    />
                  </div>
                  <img
                    class="product--img"
                    src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e68b497e229146b818_leptop%20sleeve-min.png"
                    alt=""
                  />
                  <div class="card__body">
                    <span class="product__price">$59</span>
                    <h3 class="prodcut__name">Laptop sleeve MacBook</h3>
                    <span class="product__description"
                      >Organic Cotton, fairtrade certified</span
                    >
                    <button class="btn btn--outline">Add to Cart</button>
                  </div>
                </header>
              </div>
            </div>
        
        </div>
      </div>
    </div>
  </section>