<section class="block">
    <div class="container">
      <div class="grid grid--cols-2">
        <div class="product-img-view">
          <div class="main-img-container">
            <img class="main-img img-border" id="main-img" src="images/airpodmax-large-black.png" alt="">
          </div>
          <div class="bottom-img-container grid grid--cols-4">
            <img class="bottom-img img-border" src="images/airpodmax-large-black.png" alt="">
            <img class="bottom-img img-border" src="images/airpodmax-large-white.jpg" alt="">
            <img class="bottom-img img-border" src="images/airpodmax-large-red.jpg" alt="">
            <img class="bottom-img img-border" src="images/airpodmax-large-green.jpg" alt="">
          </div>
        </div>
        <div class="product-content">
          <div class="product-header">
            <h2 class="product__title">Airpod Max</h2>
            <p class="product__description">a perfect balance of exhilarating high-fidelity audio and the effortless magic of AirPods. The ultimate personal listening experience is here.</p>
          </div>
          <div class="product-header product-price"><h3>  $500</h3></div>
          <div class="product-header">
              <div class="amount-input">
                <button class="btn-wrap color-one">-</button>
                <span class="amount-number">1</span>
                <button class="btn-wrap color-two">+</button>
              </div>
              <div class="buy-cart-container">
                <button class="po-btn btn btn--primary">Buy Now</button>
                <button class="po-btn btn btn--outline-2">Add to Cart</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>