<div style="width: 340px; height: 446.688px">
  <div class="product">
    <div class="card">
      <header class="card__header">
        <div class="product__favorite">
          <img
            src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9df775b939f51a0b22f6d_Icon.svg"
            alt=""
          />
        </div>
        <img
          class="product--img"
          src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e68b497e229146b818_leptop%20sleeve-min.png"
          alt=""
        />
        <div class="card__body">
          <span class="product__price">$59</span>
          <h3 class="prodcut__name">Laptop sleeve MacBook</h3>
          <span class="product__description"
            >Organic Cotton, fairtrade certified</span
          >
          <button class="btn btn--outline">Add to Cart</button>
        </div>
      </header>
    </div>
  </div>
</div>
