
@page "/log"
@layout DashboardLayout
@inherits MainBase
<div class="container">
    <h3>Admins Log</h3>
    <table class="table">
        <thead>

        </thead>
        <tbody>
        @if (adminLog is not null)
        {


@foreach (var item in adminLog)
{
    <tr>
        @item.log_msg
    </tr>
}
        }
        else
        {
            <h3>Nothing added yet</h3>
        }

        </tbody>
    </table>
</div>

@code {
    private  IEnumerable<AdminLogsModel> adminLog;

    protected override async Task OnInitializedAsync()
    {
        client = factory.CreateClient("api");

        adminLog = await client.GetFromJsonAsync<IEnumerable<AdminLogsModel>>("AdminLogs");
    }

}
