
@page "/log"
@layout DashboardLayout
@inherits MainBase
<div class="container mt-5 ">

    <table class="table   table-striped">
        <thead>

        </thead>
        <tbody>
        @if (adminLog is not null)
        {


@foreach (var item in adminLog)
{
    <tr class="">
        <td class="fs-5 table-striped">
        @item.log_msg

        </td>
    </tr>
}
        }
        else
        {
            <h3>Nothing added yet</h3>
        }

        </tbody>
    </table>
</div>

@code {
    private  IEnumerable<AdminLogsModel> adminLog;

    protected override async Task OnInitializedAsync()
    {
        client = factory.CreateClient("api");

        adminLog = await client.GetFromJsonAsync<IEnumerable<AdminLogsModel>>("AdminLogs");
    }

}
