@page "/Checkout"
<section class="checkout block">
    <div class="container grid grid--cols-2">
        <div class="">
            <div class="checkout-items">
                <div class="cart-item grid grid--cols-3">
                    <img class="cart-item-img" src="images/airpodmax-large-blue.jpg" alt="" />
                    <div class="left-content">
                        <h3 class="item-name">airpods max pro elven </h3>
                        <div class="amount-input">
                            <button class="btn-wrap color-one">-</button>
                            <span class="amount-number">1</span>
                            <button class="btn-wrap color-two">+</button>
                        </div>
                    </div>
                    <div class="right-content">
                        <button class="remove-btn">x</button>
                        <p class="item-price">100$</p>
                    </div>
                </div>
            </div>
            <h3 class="item-price">Total Price: 100$</h3>
            <div class="coupon">
                <div class="input-group">
                    <input type="search" placeholder="Enter Coupon Code" class="input input--coupon" />
                    <button class="btn btn--primary btn-small">Apply Coupon</button>
                </div>
            </div>
        </div>
        <div class="info-content grid grid--cols-1">
            <input class="info-input" placeholder="saved adress" type="text">
            <input class="info-input" placeholder="Country/Region" type="text">
            <div class="grid grid--cols-2">
                <input class="info-input" placeholder="First Name" type="text">
                <input class="info-input" placeholder="Last Name" type="text">
            </div>
            <input class="info-input" placeholder="Adress" type="text">
            <input class="info-input" placeholder="Apartment, suite, etc. (optional)" type="text">
            <div class="grid grid--cols-2">
                <input class="info-input" placeholder="City" type="text">
                <input class="info-input" placeholder="Postal code" type="text">
            </div>
            <input class="info-input" placeholder="Phone" type="text">
            <button class="btn btn--primary small-btn">Checkout</button>
        </div>
    </div>

</section>
@code {

}
