<section class="discount-section pt-5">
    <div class="container">
        <h1 class="section__heading mb-4">Best Seller</h1>
        <div class="discount-container row mt-4">
            <div class="col col-6 col-xl-3 col-lg-4  col-sm-6  mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Save</h5>
                        <div class="dicount__price">
                            <span class="dollar--sign">$</span>100
                        </div>
                        <p class="card-text">Explore Our Furniture & Home Furnishing Range</p>
                    </div>
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e6cd367817e964f756_sofa-min.png" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col col-6 col-xl-3 col-lg-4  col-sm-6  mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Save</h5>
                        <div class="dicount__price">
                            <span class="dollar--sign">$</span>100
                        </div>
                        <p class="card-text">Explore Our Furniture & Home Furnishing Range</p>
                    </div>
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e6cd367817e964f756_sofa-min.png" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col col-6 col-xl-3 col-lg-4  col-sm-6  mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Save</h5>
                        <div class="dicount__price">
                            <span class="dollar--sign">$</span>100
                        </div>
                        <p class="card-text">Explore Our Furniture & Home Furnishing Range</p>
                    </div>
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e6cd367817e964f756_sofa-min.png" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col col-6 col-xl-3 col-lg-4  col-sm-6  mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Save</h5>
                        <div class="dicount__price">
                            <span class="dollar--sign">$</span>100
                        </div>
                        <p class="card-text">Explore Our Furniture & Home Furnishing Range</p>
                    </div>
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e6cd367817e964f756_sofa-min.png" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>


@code {

}
