@page "/"
@inherits MainBase

 @*Hero*@
<section class="hero-section">
    <div class="container text-center bg-img">
        <div class="row">
            <div class="col">
                <h1 class="block__heading">Electronic Store</h1>
                <p class="mb-5">
                    Shopping is a bit of a relaxing hobby for me, which is sometimes
                    troubling for the bank balance.
                </p>
                <a class="mybtn mybtn--primary">Learn More</a>
            </div>
        </div>
    </div>
</section>

 @*Products*@
<section class="products-section pt-5">
    <div class="container ">
        <h1 class="section__heading mb-4">Today's Best Deals For You</h1>
        <ul class="category-taps nav nav-pills" id="pills-tab" role="tablist">
            @foreach (var item in Categories)
            {
                <li class="nav-item" role="presentation" >
                    <button role="tab" class="nav-link ms-2 mt-2" aria-selected="false" data-bs-toggle="pill" @onclick="()=>SelectTap(item.category_id)">@item.Name</button>
                </li>
            }

        </ul>
    <div class="products-container row mt-4">
        @if (categoriesProduct is not null)
        {
            @foreach (var item in categoriesProduct)
            {
                <div class="col col-6 col-xl-3 col-lg-4 col-sm-6  mb-3">
                    <div class="card">
                        <a href="/p">
                        <img  src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e68b497e229146b818_leptop%20sleeve-min.png" class="card-img-top" alt="...">
                            </a>
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between">@item.name
                                <span class="">@item.price</span>

                            </h5>
                            <p class="card-text">@item.description</p>
                            <button href="#" @onclick="() => AddToCart(item)" class="btn mybtn--outline">Add To Cart</button>
                        </div>
                    </div>
                </div>
            }
        }



    </div>
    </div>

</section>

@*Discount*@
<section class="discount-section pt-5">
    <div class="container">
        <h1 class="section__heading mb-4">Get Up To 70% Off</h1>
        <div class="discount-container row mt-4">
            <div class="col col-6 col-xl-3 col-lg-4  col-sm-6  mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Save</h5>
                        <div class="dicount__price">
                            <span class="dollar--sign">$</span>100
                        </div>
                        <p class="card-text">Explore Our Furniture & Home Furnishing Range</p>
                    </div>
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e6cd367817e964f756_sofa-min.png" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col col-6 col-xl-3 col-lg-4  col-sm-6  mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Save</h5>
                        <div class="dicount__price">
                            <span class="dollar--sign">$</span>100
                        </div>
                        <p class="card-text">Explore Our Furniture & Home Furnishing Range</p>
                    </div>
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e6cd367817e964f756_sofa-min.png" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col col-6 col-xl-3 col-lg-4  col-sm-6  mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Save</h5>
                        <div class="dicount__price">
                            <span class="dollar--sign">$</span>100
                        </div>
                        <p class="card-text">Explore Our Furniture & Home Furnishing Range</p>
                    </div>
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e6cd367817e964f756_sofa-min.png" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col col-6 col-xl-3 col-lg-4  col-sm-6  mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Save</h5>
                        <div class="dicount__price">
                            <span class="dollar--sign">$</span>100
                        </div>
                        <p class="card-text">Explore Our Furniture & Home Furnishing Range</p>
                    </div>
                    <img src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e6cd367817e964f756_sofa-min.png" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container mt-5">
        <div class="row border-top pt-5">
            <div class="col-8 col-lg-4">
                <div class="footer__brand">
                    <img class="mb-3" src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e86ab4c21faa7bc0bd90dd_Logo.svg" alt="">
                    <p class="footer__copyright">Copyright 2023 MOJO</p>
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="links">
                    <h5 class="footer-menu-title">Categories</h5>
                    <ul class="list-unstyled lh-lg">
                        <li class="list-item"><a href="">Headphones</a></li>
                        <li class="list-item"><a href="">Mouses</a></li>
                        <li class="list-item"><a href="">Keyboards</a></li>
                        <li class="list-item"><a href="">Accessories</a></li>
                        <li class="list-item"><a href="">Laptops</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="links">
                    <h5 class="footer-menu-title">About Us</h5>
                    <ul class="list-unstyled lh-lg">
                        <li class="list-item"><a href="">About Shopcart</a></li>
                        <li class="list-item"><a href="">Careers</a></li>
                        <li class="list-item"><a href="">Ideas & Guides</a></li>
                        <li class="list-item"><a href="">News & Blog</a></li>
                        <li class="list-item"><a href="">Shopcart Brands</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="links">
                    <h5 class="footer-menu-title">Services</h5>
                    <ul class="list-unstyled lh-lg">
                        <li class="list-item"><a href="">Gift Card</a></li>
                        <li class="list-item"><a href="">Mobile App</a></li>
                        <li class="list-item"><a href="">Shipping & Delivery</a></li>
                        <li class="list-item"><a href="">Order Pickup</a></li>
                        <li class="list-item"><a href="">Account Signup</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="links">
                    <h5 class="footer-menu-title">Help</h5>
                    <ul class="list-unstyled lh-lg">
                        <li class="list-item"><a href="">Shopcart Help</a></li>
                        <li class="list-item"><a href="">Returns</a></li>
                        <li class="list-item"><a href="">Track Orders</a></li>
                        <li class="list-item"><a href="">Contact Us</a></li>
                        <li class="list-item"><a href="">Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

