@page "/"
@inherits MainBase

 @*Hero*@
<section class="hero-section">
    <div class="container text-center bg-img">
        <div class="row">
            <div class="col">
                <h1 class="block__heading">Electronic Store</h1>
                <p class="mb-5">
                    Shopping is a bit of a relaxing hobby for me, which is sometimes
                    troubling for the bank balance.
                </p>
                <a class="mybtn mybtn--primary">Learn More</a>
            </div>
        </div>
    </div>
</section>

@*Products*@
<ProductsPage></ProductsPage>

@*Discount*@
<DiscountPage></DiscountPage>

