@page "/login"
@using System.Net.Http.Json
@inject IHttpClientFactory factory
@inject TokenModel tokenInfo
<PageTitle>Index</PageTitle>

@if (isLoggedIn)
{
    <h1>you are logged in </h1>
    <button class="btn btn-danger" @onclick="LogOut">log out</button>
}
else
{
    <h1>Log in</h1>
    <EditForm Model="Authenticat" OnValidSubmit="HandleValidSubmit">
        <InputText @bind-Value = "Authenticat.email"/>
        <InputText type="password" @bind-Value="Authenticat.password" />

        <button class="btn btn-success" type="submit">Log in</button>

    </EditForm>

    <h1>Register</h1>
    <EditForm Model="Authenticat" OnValidSubmit="HandleRegister">
        <InputText @bind-Value="Authenticat.first_name" />
        <InputText @bind-Value="Authenticat.last_name" />
        <InputText @bind-Value="Authenticat.password" />
        <InputText @bind-Value="Authenticat.phone_number" />
        <InputText @bind-Value="Authenticat.email" />
        <InputText @bind-Value="Authenticat.city" />

        <button class="btn btn-success" type="submit">Register</button>



    </EditForm>
}


@code {

    private AuthenticationModel Authenticat = new();
    private bool isLoggedIn = false;

    protected override void OnInitialized()
    {
        isLoggedIn = !string.IsNullOrEmpty(tokenInfo.Token);
    }
    private async void HandleValidSubmit()
    {
        var client = factory.CreateClient("api");

        var info = await client.PostAsJsonAsync<AuthenticationModel>("Customers/token", Authenticat);

        var Token = await info.Content.ReadAsStringAsync();
        if (info.IsSuccessStatusCode)
        {
            isLoggedIn = true;
            await InvokeAsync(StateHasChanged);

        }
        else
        {
            
        }
    }
    private async Task HandleRegister()
    {
        var client = factory.CreateClient("api");

        var info = await client.PostAsJsonAsync<AuthenticationModel>("Customers", Authenticat);
       
     

        await InvokeAsync(StateHasChanged);
    }
    private  void LogOut()
    {
        tokenInfo.Token = "";
        isLoggedIn = false;
    }
}
