@page "/login"
@inherits MainBase

<PageTitle>Index</PageTitle>



    <h1>Log in</h1>
    <EditForm Model="Authenticat" OnValidSubmit="HandleValidLogIn">
        <InputText @bind-Value="Authenticat.email" />
        <InputText type="password" @bind-Value="Authenticat.password" />

        <button class="btn btn-success" type="submit">Log in</button>

    </EditForm>

    <h1>Register</h1>
    <EditForm Model="Authenticat" OnValidSubmit="HandleRegisteration">
        <InputText @bind-Value="Authenticat.first_name" />
        <InputText @bind-Value="Authenticat.last_name" />
        <InputText @bind-Value="Authenticat.password" />
        <InputText @bind-Value="Authenticat.phone_number" />
        <InputText @bind-Value="Authenticat.email" />
        <InputText @bind-Value="Authenticat.city" />

        <button class="btn btn-success" type="submit">Register</button>

    </EditForm>


