
<footer>
    <div class="container mt-5">
        <div class="row border-top pt-5">
            <div class="col-8 col-lg-4">
                <div class="footer__brand">
                    <img class="mb-3" src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e86ab4c21faa7bc0bd90dd_Logo.svg" alt="">
                    <p class="footer__copyright">Copyright 2023 MOJO</p>
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="links">
                    <h5 class="footer-menu-title">About Us</h5>
                    <ul class="list-unstyled lh-lg">
                        <li class="list-item"><a href="">About Shopcart</a></li>
                        <li class="list-item"><a href="">Careers</a></li>
                        <li class="list-item"><a href="">Shopcart Brands</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="links">
                    <h5 class="footer-menu-title">Help</h5>
                    <ul class="list-unstyled lh-lg">
                        <li class="list-item"><a href="">Shopcart Help</a></li>
                        <li class="list-item"><a href="">Contact Us</a></li>
                        <li class="list-item"><a href="">Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
