@font-face {
    font-family: Eina-02;
    src: url(https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e9b5a63945900d75e8aee2_Eina02-Bold.ttf);
}

:root {
    --color-primary: #003d29;
    --color-secondary: #f5f6f6;
    --color-accent: null;
    --color-headings: #231f1e;
    --color-body: #333333;
    --border-color: #ccc;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}
/* Typogrphy */

html {
    /* 62.5% of 16px = 10px */
    /* font-size: 62.5%; */
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    /* font-size: 1.25rem;
  line-height: 1.5; */
}
/* h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
} */
.main-nav.navbar {
    background-color: #fff;
}

.nav-link {
    color: #231f1e;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-brand {
    font-weight: 500;
}

@media (min-width: 992px) {
    .navbar .input-form {
        width: 50%;
    }
}

.bg-img {
    background-image: url(https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e58c0997219ec01eb6_background-bg-min.png);
    position: relative;
    z-index: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

/*  Start Buttons */
.mybtn {
    border-radius: 50px;
    border: 0;
    padding: 0.8rem 2rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
}

.mybtn--primary {
    background-color: var(--color-primary);
    color: #fff;
}

    .mybtn--primary:hover {
        background-color: var(--color-headings);
        color: #fff;
    }

.mybtn--outline {
    background-color: #fff;
    border-radius: 50px;
    color: #000;
    border: 1px solid;
    /* font-family: 'Inter',sans-serif; */
    font-size: .875rem;
    font-weight: 600;
    padding: 0.6rem 1.375rem;
}

    .mybtn--outline:hover {
        background-color: var(--color-primary);
        color: #fff;
    }
/* Start Hero */
.hero-section .container {
    max-width: 100%;
}

.block__heading {
    color: var(--color-primary);
    font-weight: 700;
}

.section__heading {
    font-family: 'Eina-02',sans-serif;
    color: var(--color-headings);
    font-size: 1.75rem;
}
/* Start Products */

.category-taps .nav-item .nav-link {
    border-radius: 100px;
    padding: .6rem 1.3rem;
    border: 1px solid #c5c5c5;
    font-size: .875rem;
}

    .category-taps .nav-item .nav-link:hover {
        color: var(--color-headings);
    }

    .category-taps .nav-item .nav-link.active {
        background-color: var(--color-primary);
    }

        .category-taps .nav-item .nav-link.active:hover {
            color: #fff;
        }

.products-container .card {
    border: 0;
}

    .products-container .card .card-title {
        font-size: 1.125rem;
        font-weight: 600;
    }

    .products-container .card .card-text {
        font-size: .9rem;
    }

.products-container .card-img-top {
    background-color: #f5f6f6;
    transition: all 200ms ease;
}

    .products-container .card-img-top:hover {
        transform: scale(1.1);
    }

/* Start Discount Section */
.discount-container .card {
    border: 0;
    background-color: #f2e4d9;
}

.discount-container .card-img-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.discount-container .card .card-title {
    font-size: 1.375rem;
    color: var(--color-headings);
    font-weight: 700;
    margin-bottom: 10px;
}

.discount-container .card .card-body {
    padding: 1.875rem;
}

.discount-container .card .dicount__price {
    color: #cb9917;
    font-family: 'Eina-02',sans-serif;
    font-size: 3.25rem;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 20px;
}

    .discount-container .card .dicount__price .dollar--sign {
        position: relative;
        top: -16px;
        font-size: 1.9375rem;
        line-height: 41px;
    }
/* Footer */
.footer-menu-title {
    color: #000;
    font-weight: 600;
    font-size: 1.125rem;
}

.list-item {
    font-size: .875rem;
    transition: all 200ms ease;
    font-weight: 400;
}

    .list-item a:hover {
        transform: translate(10px, 0px);
        color: #ff5c4c;
    }

    .list-item a {
        color: var(--color-body);
        transition: all 200ms ease;
    }

/* Cart */
.cart .card .card-text {
    font-size: .875rem;
}

.cart .card .btn-close {
    position: relative;
    right: -190px;
    top: -10px;
}
/* Product Details */
.product-details .carousel {
    margin: 1rem;
    border-radius: 1rem;
    background-color: #f5f6f6;
}

@media (min-width: 992px) {
    .product-details .carousel {
        width: 100%;
        margin: 2rem;
    }
}

.product-name {
    font-weight: 700;
}

.product-description {
    font-size: .875rem;
}

.product-price {
    font-family: 'Eina-02';
}

.amount-po {
    position: relative;
    top: -5px;
    width: 60px;
}

/* Register Form */
@media (min-width: 992px) {
    .reg-form.container {
        width: 30% !important;
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }

    .log-form.container {
        width: 30% !important;
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }
}

/* Admin Invite */
.admin-inv .row {
    border-radius: 30px;
}
/* Admin Products */
@media (min-width: 992px) {
    .admin-products .products-container {
        width: 60%;
    }
}

@media (min-width: 992px) {
    .admin-products .input-form {
        width: 50%;
    }
}
/* @media (max-width:768px) {
  .admin-products .img-fl
  
} */



.blazored-toast-container[b-y65zu6vhcs] {
    z-index: 1055 !important;
}

.validation-message {
    color: red;
    margin-top: 5px;
}

/* Importnant Shit */
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }
